@import "adminlte/build/less/adminLTE.less";
@import "adminlte/build/less/skins/skin-blue.less";

.sidebar-menu {
    li.open {
        > .treeview-menu {
            display: block;
        }
    }
}

.btn {
    &.btn-mini {
        font-size: 11px;
        padding: 3px 6px;
    }
}
